body {
background-color: green;
}

header {
    color: white;
    font-size: xx-large;
}

.carta {
    margin: auto;
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 20px;
    width: 300px;
    height: 500px;
    display: flexbox;
    flex-direction: column;
}

#p1 {
    text-align: left, u;
    margin-left: 5%;
    height: 100px;
    font-size: 120px;
}

#n1 {
    font-size: 200px;
    text-align: center;
    height: 280px;
    font-size: 120px;
}